body {
  font-family: "Roboto", "FF DIN", sans-serif;
  color: rgba(67, 68, 85, 1);
  background-color: rgba(255, 255, 255, 1);
}
.link-logo {
  color: rgba(46, 47, 66, 1);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.667;
  letter-spacing: 0.03em;
  text-align: left;
}
.link-logo .link-web {
  color: rgba(77, 90, 229, 1);
}
.link-nav {
  color: rgba(46, 47, 66, 1);
  font-size: 16px;
  font-weight: 500;
  line-height: 1, 5;
  letter-spacing: 0.02em;
  text-align: left;
}
.link-address {
  color: rgba(67, 68, 85, 1);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
}
ul,
a {
  list-style-type: none;
  text-decoration: none;
}
.link-nav:hover,
.link-nav:focus {
  color: #404bbf;
}
.link-address:hover,
.link-address:focus {
  color: #404bbf;
}
.button-service {
  background-color: rgba(77, 90, 229, 1);
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  width: 196px;
  height: 56px;
  cursor: pointer;
}
.button-service:hover,
.button-service:focus {
  background-color: #404bbf;
}
.first-section {
  width: 1440px;
  height: 600px;
  top: 72px;
  background-color: rgba(46, 47, 66, 1);
}
h1 {
  color: rgba(255, 255, 255, 1);
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  width: 496px;
  height: 120px;
}
h3 {
  color: rgba(46, 47, 66, 1);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: left;
}
p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
  color: rgba(67, 68, 85, 1);
}
h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.111;
  letter-spacing: 0.02em;
  text-align: center;
}
footer {
  width: 1440px;
  height: 312px;
  background: rgba(46, 47, 66, 1);
}
.link-studio-footer {
  color: rgba(244, 244, 253, 1);
}
link-studio-header {
  color: rgba(46, 47, 66, 1);
}
.text-footer {
  color: rgba(244, 244, 253, 1);
}
